<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <form action="/user/submit" method="post">
        <input type="text" name="issue_title" placeholder="issue_title" value="issue_title1"> <br>
        <input type="text" name="description" placeholder="description" value="description1"> <br>
        <input type="number" name="urgency" min='0' max='3' value="1"> <br>
        <button type="submit"> Submit issue </button> <br>       
    </form>

    <a href="/user">Cancel</a>
    


</body>

</html>