<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>

    Welcome *<%= user %>* to your homepage <br>

    <a href="/user/submit"> Submit an issue </a> <br>
    <a href="/user/issues"> View & edit issues✏️</a> <br> <br>
    <!-- <a href="/user/ :user <%=  %>"> 22 View & edit issues</a> <br> -->
    
    <br><br><br>
    <a href="<%= Graph_link %>"> view graphs✏️</a>  

    

    

    <br><br><br>
    <a href="/logout">Log out </a>


    
</body>
</html>